{% extends "lightcurve_base.html" %} {% block title %} Lightcurve File Upload {%
endblock title %} {% block content %}
<div class="container py-3">
  <h1 class="text-center">Lightcurve file upload</h1>
  <form
    id="file-form"
    action="/analyse-ui-multiple"
    method="post"
    enctype="multipart/form-data"
  >
    <div id="id-container">
      <div class="norad-group my-3">
        <label class="form-label" name="norad_1" for="norad_1"
          >NORAD ID:
        </label>
        <input
          class="form-control norad-input"
          type="text"
          id="norad_1"
          required
        />
        <div class="files-container p-2 border-start border-end">
          <div class="row align-items-center m-0">
            <div class="col-auto">
              <input class="form-control my-2 file-input" type="file" />
            </div>
            <div class="col-auto">
              <button
                class="btn btn-danger btn-sm"
                type="button"
                onclick="removeFileInput(this)"
              >
                <span class="me-1"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                    />
                  </svg>
                </span>
                Remove File
              </button>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="button"
          onclick="addFileInput(this)"
        >
          <span class="me-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-file-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"
              />
              <path
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"
              /></svg></span
          >Add File
        </button>
      </div>
    </div>
    <button class="btn btn-primary" type="button" onclick="addIDGroup()">
      <span class="me-1"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </span>
      Add NORAD ID Group
    </button>
    <button
      id="submitButton"
      class="d-block btn btn-primary my-5"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
{% endblock content %} {% block javascript %}
<script>
  function updateFileInputNames(idGroup) {
    const noradID = idGroup.querySelector("input.norad-input").value;
    const filesContainer = idGroup.querySelector(".files-container");
    const inputs = Array.from(filesContainer.querySelectorAll(".file-input"));
    inputs.forEach((input, index) => {
      input.setAttribute("name", `${noradID}_${index + 1}`);
    });
  }

  const newFileInputElements = `<div class="row align-items-center m-0">
        <div class="col-auto">
         <input class="form-control my-2 file-input" type="file" />
        </div>
       <div class="col-auto">
         <button
           class="btn btn-danger btn-sm"
           type="button"
           onclick="removeFileInput(this)"
         >
           <span class="me-1"
             ><svg
               xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               fill="currentColor"
               class="bi bi-trash3"
               viewBox="0 0 16 16"
             >
               <path
                 d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
               />
             </svg>
           </span>
           Remove File
         </button>
       </div>
    </div>`;

  function addFileInput(buttonElement) {
    const idGroup = buttonElement.closest(".norad-group");
    const filesContainer = idGroup.querySelector(".files-container");

    filesContainer.innerHTML += newFileInputElements;
  }

  function removeFileInput(buttonElement) {
    const idGroup = buttonElement.closest(".norad-group");
    const filesContainer = idGroup.querySelector(".files-container");
    if (filesContainer.children.length > 1) {
      filesContainer.removeChild(filesContainer.lastChild);
    } else {
      idGroup.remove();
    }
  }

  function addIDGroup() {
    const idGroup = document.createElement("div");
    let numberOfIdGroups = document.querySelectorAll(".norad-group").length;
    idGroup.className = "norad-group my-3";
    idGroup.innerHTML =
      `
                 <label class="form-label" for="norad_${
                   numberOfIdGroups + 1
                 }">NORAD ID: </label>
                 <input class="form-control norad-input" type="text" id="norad_${
                   numberOfIdGroups + 1
                 }" required onchange="updateFileInputNames(this.closest('.norad-group'))">
                 <div class="files-container p-2 border-start border-end">` +
      newFileInputElements +
      `</div>
                 <button class="btn btn-primary"type="button" onclick="addFileInput(this)"><span class="me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                     <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                     <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                   </svg></span>Add File</button>
             `;
    document.getElementById("id-container").appendChild(idGroup);
  }

  document.getElementById("file-form").addEventListener("submit", (e) => {
    const idGroups = document.querySelectorAll(".norad-group");
    if (!idGroups.length) {
      e.preventDefault();
    } else {
      idGroups.forEach((idGroup) => updateFileInputNames(idGroup));
    }
  });
</script>
{% endblock javascript %}
