<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Lightcurve {% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }

      .btn-primary {
        background-color: #594ae2; /* Replace #123456 with your desired color */
        border-color: #594ae2; /* Typically, the same as the background color */
      }

      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active,
      .btn-primary.active {
        background-color: #0000dd; /* Darkened version of your desired color */
        border-color: #0000dd; /* Typically, the same as the hover background color */
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
