{% extends "lightcurve_base.html" %} {% block title %} Lightcurve Charts {%
endblock %} {% block content %}
<div class="container my-4">
  <div class="alert alert-success" role="alert">
    Analysis output successfully uploaded to Datacube.
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      NORAD ID
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for norad in norads %}
      <a
        class="dropdown-item norad-dropdown-item"
        data-norad="{{ norad }}"
        href="#"
        >{{ norad }}
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="chart-container" class="d-none">
    <canvas id="chart"></canvas>
    <div class="px-3">
      <h3 class="mt-5">Satellite History</h3>
      <div id="history-container" class="p-3 border">
        {% for norad, history in histories.items() %}
        <pre class="history d-none" id="history-{{ norad }}">{{ history }}</pre>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container" id="none-selected">
  <p>Select a satellite NORAD ID from the dropdown</p>
</div>
{% endblock %} {% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script>
  let chartOptions = {
    plugins: {
      zoom: {
        pan: {
          enabled: true,
          mode: "xy",
        },
        zoom: {
          enabled: true,
          mode: "xy",
          wheel: {
            enabled: true,
            speed: 0.1,
          },
        },
      },
      tooltip: {
        enabled: true,
        callbacks: {
          label: function (context) {
            var label = context.dataset.label || "";
            if (label) {
              label += ": ";
            }
            label += context.parsed.y;
            return label;
          },
        },
      },
    },
  };

  let plotData = {{ plot_data|safe  }};
  let chart;
  document.addEventListener("DOMContentLoaded", function () {
    let dropdownItems = document.querySelectorAll(".norad-dropdown-item");
    let ctx = document.getElementById("chart").getContext("2d");
    let visibleHistory;

    dropdownItems.forEach(function (item) {
      item.addEventListener("click", function (event) {
        let noneSelectedMessageContainer = document.getElementById('none-selected');
        noneSelectedMessageContainer.classList.add("d-none");
        let chartContainer = document.getElementById("chart-container");
        chartContainer.classList.remove('d-none');
        chartContainer.classList.add('d-block');

        let norad = event.currentTarget.getAttribute("data-norad");
        if(visibleHistory) {
          visibleHistory.classList.remove("d-block");
          visibleHistory.classList.add("d-none");
        }
        visibleHistory = document.getElementById(`history-${norad}`);
        visibleHistory.classList.add("d-block");
        visibleHistory.classList.remove("d-none");

        if (chart) {
          chart.destroy();
        }
        chart = new Chart(ctx, {
          type: "scatter",
          data: {
            labels: plotData[norad][0],
            datasets: [
              {
                label: `Lightcurve for Satellite with NORAD ID: ${norad}`,
                data: plotData[norad][1],
                pointRadius: 4,
                backgroundColor: "rgb(0,0,255)",
              },
              {
                type: 'line',
                label: `Sin model for Satellite with NORAD ID: ${norad}`,
                data: plotData[norad][2], // This should be an array of objects with x and y properties.
                borderColor: 'rgb(0, 128, 0)', // Color for the line
                fill: false, // Specifies that the area under the line shouldn't be filled
                lineTension: 0 // Makes the line straight without any curvature
            }
            ],
          },
          options: chartOptions,
        });
      });
    });
  });
</script>
{% endblock %}
